/* p.love{
    color: rgb(13, 24, 238);
}
p.you{
    color: rgb(20, 15, 167);
}
p.you.jou{
    border: 1px dashed rgb(198, 15, 15);
}

#content{
    background-color: #ebebeb;
    padding: 20px;
} */

/* div .love{
    color: purple;
} */


/* attribite selector */
/* a[href="https://www.thenetninja.co.uk"]{
    background-color: #3dd13d;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
a[href*="google"]{
    color: white;
    background: red;
    border: 2px solid blue;
} */

/* INHERITANCE */
div{
    color: lightcoral;
    border: 1px solid grey;
    margin: 40px;
    font-weight: bold;
}

p{
    border: inherit;
    margin: inherit;
    color: crimson;
}












